In [36]:
import numpy as np
import pandas as pd
import re
import math

In [79]:
majong = pd.read_excel("../Jaehoon/majong_tochang_ver_2.xlsx")
majong

,Unnamed: 0,ranks,horse_rate,dad_record,dad_rate,mom_record,mom_rate,name,mom_rating,dad_rating,mom_total,dad_total,mom_total_in3,dad_total_in3
0,0,"['제4 2020/01/01 ~ 2021/05/12', '제3 2019/08/04 ...","['2020/12/19-5R 59', '2020/11/21-6R 59', '2020...",42전 (6/8/5/7/5),단승 : 14.3% 복승 : 33.3% 연승 : 45.2%,0전 (0/0/0/0/0),단승 : 0.0% 복승 : 0.0% 연승 : 0.0%,무대바람,NaN,0.45,NaN,42.0,NaN,19.0
1,1,"['제5 2020/01/01 ~ 2020/05/07', '제4 2018/09/02 ...","['2020/02/22-3R 40', '2020/01/31-2R 40', '2020...",2전 (2/0/0/0/0),단승 : 100.0% 복승 : 100.0% 연승 : 100.0%,NaN,NaN,마의질주,NaN,1.00,NaN,2.0,NaN,2.0
2,2,"['제3 2020/08/23 ~ 2021/01/27', '제4 2020/01/01 ...","['2021/01/22-8R 61', '2020/12/20-7R 61', '2020...",42전 (6/8/5/7/5),단승 : 14.3% 복승 : 33.3% 연승 : 45.2%,18전 (5/4/2/2/1),단승 : 27.8% 복승 : 50.0% 연승 : 61.1%,쾌속비행,0.61,0.45,18.0,42.0,11.0,19.0
3,3,"['제4 2018/08/26 ~ 2020/07/22', '제1 2016/08/19 ...","['2019/12/19-3R 44', '2019/07/13-2R 45', '2019...",NaN,NaN,NaN,NaN,포르티우스,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"['제4 2022/01/01 ~ 2023/04/20', '제3 2021/09/12 ...","['2023/04/15-4R 52', '2023/03/16-2R 52', '2022...",NaN,NaN,33전 (1/1/1/5/2),단승 : 3.0% 복승 : 6.1% 연승 : 9.1%,광명일호,0.09,NaN,33.0,NaN,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,1996,"['제5 2023/06/25 ~ 현재', '제6 2023/06/08 ~ 2023/0...","['2023/07/28-4R 19', '2023/07/08-2R 20', '2023...",78전 (7/5/10/7/13),단승 : 9.0% 복승 : 15.4% 연승 : 28.2%,21전 (7/4/2/1/0),단승 : 33.3% 복승 : 52.4% 연승 : 61.9%,우주소녀,0.62,0.28,21.0,78.0,13.0,22.0
1997,1997,"['제6 2023/06/08 ~ 2023/07/19', '미 2022/11/02 ~...","['2023/07/15-1R ', '2023/06/24-1R ', '2023/06/...",36전 (6/2/0/0/1),단승 : 16.7% 복승 : 22.2% 연승 : 22.2%,37전 (2/5/3/4/6),단승 : 5.4% 복승 : 18.9% 연승 : 27.0%,상가으뜸,0.27,0.22,37.0,36.0,10.0,8.0
1998,1998,"['제5 2023/07/02 ~ 현재', '제6 2023/06/22 ~ 2023/0...","['2023/09/22-2R 37', '2023/08/26-2R 28', '2023...",23전 (4/3/2/1/2),단승 : 17.4% 복승 : 30.4% 연승 : 39.1%,26전 (9/5/3/1/1),단승 : 34.6% 복승 : 53.8% 연승 : 65.4%,고색창연,0.65,0.39,26.0,23.0,17.0,9.0
1999,1999,"['C4 2012/01/28 ~ 2012/04/04', '신 2012/01/12 ~...","['2012/03/10-7R ', '2012/02/10-8R ', '2012/01/...",NaN,NaN,NaN,NaN,광산질주,NaN,NaN,NaN,NaN,NaN,NaN
2000,2000,"['미 2004/07/14 ~ 2005/09/10', '미 2004/06/24 ~ ...",[],NaN,NaN,NaN,NaN,천마지존,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
majong["dad_post"] = majong["dad_total"]
majong["mom_post"] = majong["mom_total"]
dad_mask = majong["dad_post"].notna()
mom_mask = majong["mom_post"].notna()
majong["dad_post"][dad_mask] = (1.5+majong["dad_total_in3"][dad_mask])/(1.5+majong["dad_total_in3"][dad_mask]+ 4+majong["dad_total"][dad_mask]-majong["dad_total_in3"][dad_mask])
majong["mom_post"][mom_mask] = (1.5+majong["mom_total_in3"][mom_mask])/(1.5+majong["mom_total_in3"][mom_mask]+ 4+majong["mom_total"][mom_mask]-majong["mom_total_in3"][mom_mask])

/var/folders/g1/qj9m500d7pd6vxgjq5shcf8h0000gn/T/ipykernel_8762/2296346400.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  majong["dad_post"][dad_mask] = (1.5+majong["dad_total_in3"][dad_mask])/(1.5+majong["dad_total_in3"][dad_mask]+ 4+majong["dad_total"][dad_mask]-majong["dad_total_in3"][dad_mask])
/var/folders/g1/qj9m500d7pd6vxgjq5shcf8h0000gn/T/ipykernel_8762/2296346400.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  majong["mom_post"][mom_mask] = (1.5+majong["mom_total_in3"][mom_mask])/(1.5+majong["mom_total_in3"][mom_mask]+ 4+majong["mom_total"][mom_mask]-majong["mom_total_in3"][mom_mask])

In [87]:
majong["dad_post"]

0       0.431579
1       0.466667
2       0.431579
3            NaN
4            NaN
          ...
1996    0.281437
1997    0.228916
1998    0.368421
1999         NaN
2000         NaN
Name: dad_post, Length: 2001, dtype: float64

In [88]:
majong["mom_post"]

0            NaN
1            NaN
2       0.531915
3            NaN
4       0.116883
          ...
1996    0.547170
1997    0.270588
1998    0.587302
1999         NaN
2000         NaN
Name: mom_post, Length: 2001, dtype: float64

In [89]:
majong.to_excel("../Data/majong_bayes.xlsx")

In [90]:
horse_list = pd.read_csv("../Data/horse_list.csv")

In [91]:
horse_list

      Unnamed: 0      0
0              0   무대바람
1              1   마의질주
2              2   쾌속비행
3              3  포르티우스
4              4   광명일호
...          ...    ...
1998        1998     아신
1999        1999   미소만발
2000        2000   우당대목
2001        2001     한산
2002        2002     신조

[2003 rows x 2 columns]

In [93]:
merged = pd.read_excel("../Data/merged.xlsx")

In [101]:
np.sum(merged["마명"]=="한백제왕")

1

In [105]:
horse_list[horse_list.iloc[:,1]=="한백제왕"]

      Unnamed: 0     0
1936        1936  한백제왕

In [106]:
majong["name"].nunique()

1000