In [179]:
import pandas as pd
import numpy as np

In [180]:
data = pd.read_excel('../Jaehoon/fifinal_merge_data.xlsx')
data

,Unnamed: 0,경주일자,경주번호,경주거리,착순,출주번호,마필연령,마필성별,경주기록(초),부담중량,기수경력(년),조교사경력(년),조교사통산출전횟수,조교사최근1년간출전횟수,조교사위탁경주마출전횟수,제주4코너통과기록,마체중,체중증감,기수통산1착승률,기수통산2착승률,기수최근1년간1착승률,기수최근1년간2착승률,조교사통산1착승률,조교사통산2착승률,조교사최근1년간1착승률,조교사최근1년간2착승률,조교사위탁경주마1위승률,조교사위탁경주마2위승률,주로상태_함수율,혈통,등급,레이팅,mom_rating,dad_rating,mom_total_in3,dad_total_in3,mom_total,dad_total,dad_post,mom_post,max_post,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),3시간신적설(cm),지면온도(°C),avg_temp,horse_total_post1,horse_total_post2,horse_recent_post1,horse_recent_post2
0,0,20230624,1,800,1,1,-1.671258,-1,68.1,-0.256074,-0.457800,1.037848,0.993131,-0.754877,-1.293341,-0.230165,-1.283846,1.607346,0.632445,0.821772,0.477099,1.483899,-0.949783,-0.910064,0.308688,2.093905,-0.077733,0.152808,4,1,0.0,0,0.62,0.28,13.0,22.0,21.0,78.0,0.278107,0.527273,0.527273,27.9,0.0,3,110,56,0.0,46.2,26.275,2.897647,-0.679572,2.897647,-0.679572
1,1,20230624,1,800,2,4,0.185695,1,68.5,-0.896258,-1.635000,0.115316,0.219819,-0.009616,0.220449,-0.997380,1.716714,-2.447220,-1.813527,-1.550703,-0.553510,0.046051,0.119013,0.683781,-0.090172,-0.556122,0.120039,-0.574808,4,1,0.0,0,0.60,NaN,18.0,NaN,30.0,NaN,0.000000,0.534247,0.534247,27.9,0.0,3,110,56,0.0,46.2,26.275,-0.446589,1.222662,-0.446589,1.222662
2,2,20230624,1,800,3,9,-1.671258,0,68.5,0.384111,-1.242600,-0.691898,-0.684358,-0.923162,-1.419970,0.281312,-0.300056,0.448898,1.217072,0.984041,1.481690,0.975211,2.251169,1.720409,1.395968,0.275789,1.891531,0.304127,4,1,0.0,0,0.83,NaN,5.0,NaN,6.0,NaN,0.000000,0.520000,0.520000,27.9,0.0,3,110,56,0.0,46.2,26.275,-0.128091,-0.679572,-0.128091,-0.679572
3,3,20230624,1,800,4,3,0.185695,0,68.6,1.024295,0.327000,-0.576582,-0.479228,1.528988,1.590344,-1.508858,1.224819,1.028122,1.385996,1.559213,1.233122,0.953384,0.458424,1.226856,0.967944,0.392230,0.293418,0.677529,4,1,0.0,0,0.34,0.34,22.0,10.0,65.0,29.0,0.323944,0.328671,0.328671,27.9,0.0,3,110,56,0.0,46.2,26.275,-0.128091,2.100616,-0.128091,2.100616
4,4,20230624,1,800,5,8,0.185695,0,69.0,0.384111,-0.327000,0.115316,0.013031,-0.346186,0.254985,0.792790,-0.546004,0.014481,-0.860116,-0.599244,-0.810965,-0.933508,-0.700488,-1.350570,-0.867153,0.333998,-0.980875,1.142443,4,1,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.333456,27.9,0.0,3,110,56,0.0,46.2,26.275,-0.858441,0.087377,-0.858441,0.087377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28678,28678,20190111,9,900,6,8,-0.654654,1,64.1,0.098853,-1.086500,-0.459964,-0.407759,-0.167838,1.661219,-1.398589,0.381471,0.302063,-0.998704,-1.118542,-0.882692,-1.094640,1.073361,1.406952,0.289028,-0.396696,1.803004,1.318934,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,0.253474,1.609586,0.333333,0.333333
28679,28679,20190111,9,900,7,3,1.527525,1,64.2,1.746409,0.072433,-0.730531,-0.841425,0.876034,0.190796,-0.662489,0.641565,-0.285281,2.442343,2.050307,2.251228,1.785575,0.176693,0.304561,0.961301,0.557588,0.038423,1.444387,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,-0.691631,-1.451202,0.333333,0.333333
28680,28680,20190111,9,900,8,1,-0.654654,1,64.5,-0.889680,1.231367,0.622304,0.419693,-0.802349,0.273283,0.318976,-1.872676,-0.453094,-0.652663,0.070246,-0.882692,-1.094640,-0.311834,-0.343957,0.727968,2.131537,0.486581,-0.726579,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,0.031869,0.036986,0.333333,0.333333
28681,28681,20190111,9,900,9,4,1.527525,1,64.6,-0.230658,1.955700,1.298721,1.289980,-0.597668,-0.253917,1.055076,1.075055,0.218156,0.425819,0.939910,0.978518,0.693648,-1.355633,-1.411075,-0.028597,-1.232779,-0.880981,-0.320144,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,-0.927190,-0.482149,0.333333,0.333333
28682,28682,20190111,9,900,10,6,-0.654654,1,65.1,0.098853,-0.362167,0.487020,0.135211,-1.293584,-1.415909,-1.398589,1.248451,-0.704813,-0.081354,-0.046055,-0.882692,-1.094640,-1.138832,-1.214150,-1.111108,-0.844965,-1.102157,-0.834469,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,-0.867047,-0.837812,0.333333,0.333333

In [181]:
data

,Unnamed: 0,경주일자,경주번호,경주거리,착순,출주번호,마필연령,마필성별,경주기록(초),부담중량,기수경력(년),조교사경력(년),조교사통산출전횟수,조교사최근1년간출전횟수,조교사위탁경주마출전횟수,제주4코너통과기록,마체중,체중증감,기수통산1착승률,기수통산2착승률,기수최근1년간1착승률,기수최근1년간2착승률,조교사통산1착승률,조교사통산2착승률,조교사최근1년간1착승률,조교사최근1년간2착승률,조교사위탁경주마1위승률,조교사위탁경주마2위승률,주로상태_함수율,혈통,등급,레이팅,mom_rating,dad_rating,mom_total_in3,dad_total_in3,mom_total,dad_total,dad_post,mom_post,max_post,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),3시간신적설(cm),지면온도(°C),avg_temp,horse_total_post1,horse_total_post2,horse_recent_post1,horse_recent_post2
0,0,20230624,1,800,1,1,-1.671258,-1,68.1,-0.256074,-0.457800,1.037848,0.993131,-0.754877,-1.293341,-0.230165,-1.283846,1.607346,0.632445,0.821772,0.477099,1.483899,-0.949783,-0.910064,0.308688,2.093905,-0.077733,0.152808,4,1,0.0,0,0.62,0.28,13.0,22.0,21.0,78.0,0.278107,0.527273,0.527273,27.9,0.0,3,110,56,0.0,46.2,26.275,2.897647,-0.679572,2.897647,-0.679572
1,1,20230624,1,800,2,4,0.185695,1,68.5,-0.896258,-1.635000,0.115316,0.219819,-0.009616,0.220449,-0.997380,1.716714,-2.447220,-1.813527,-1.550703,-0.553510,0.046051,0.119013,0.683781,-0.090172,-0.556122,0.120039,-0.574808,4,1,0.0,0,0.60,NaN,18.0,NaN,30.0,NaN,0.000000,0.534247,0.534247,27.9,0.0,3,110,56,0.0,46.2,26.275,-0.446589,1.222662,-0.446589,1.222662
2,2,20230624,1,800,3,9,-1.671258,0,68.5,0.384111,-1.242600,-0.691898,-0.684358,-0.923162,-1.419970,0.281312,-0.300056,0.448898,1.217072,0.984041,1.481690,0.975211,2.251169,1.720409,1.395968,0.275789,1.891531,0.304127,4,1,0.0,0,0.83,NaN,5.0,NaN,6.0,NaN,0.000000,0.520000,0.520000,27.9,0.0,3,110,56,0.0,46.2,26.275,-0.128091,-0.679572,-0.128091,-0.679572
3,3,20230624,1,800,4,3,0.185695,0,68.6,1.024295,0.327000,-0.576582,-0.479228,1.528988,1.590344,-1.508858,1.224819,1.028122,1.385996,1.559213,1.233122,0.953384,0.458424,1.226856,0.967944,0.392230,0.293418,0.677529,4,1,0.0,0,0.34,0.34,22.0,10.0,65.0,29.0,0.323944,0.328671,0.328671,27.9,0.0,3,110,56,0.0,46.2,26.275,-0.128091,2.100616,-0.128091,2.100616
4,4,20230624,1,800,5,8,0.185695,0,69.0,0.384111,-0.327000,0.115316,0.013031,-0.346186,0.254985,0.792790,-0.546004,0.014481,-0.860116,-0.599244,-0.810965,-0.933508,-0.700488,-1.350570,-0.867153,0.333998,-0.980875,1.142443,4,1,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.333456,27.9,0.0,3,110,56,0.0,46.2,26.275,-0.858441,0.087377,-0.858441,0.087377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28678,28678,20190111,9,900,6,8,-0.654654,1,64.1,0.098853,-1.086500,-0.459964,-0.407759,-0.167838,1.661219,-1.398589,0.381471,0.302063,-0.998704,-1.118542,-0.882692,-1.094640,1.073361,1.406952,0.289028,-0.396696,1.803004,1.318934,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,0.253474,1.609586,0.333333,0.333333
28679,28679,20190111,9,900,7,3,1.527525,1,64.2,1.746409,0.072433,-0.730531,-0.841425,0.876034,0.190796,-0.662489,0.641565,-0.285281,2.442343,2.050307,2.251228,1.785575,0.176693,0.304561,0.961301,0.557588,0.038423,1.444387,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,-0.691631,-1.451202,0.333333,0.333333
28680,28680,20190111,9,900,8,1,-0.654654,1,64.5,-0.889680,1.231367,0.622304,0.419693,-0.802349,0.273283,0.318976,-1.872676,-0.453094,-0.652663,0.070246,-0.882692,-1.094640,-0.311834,-0.343957,0.727968,2.131537,0.486581,-0.726579,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,0.031869,0.036986,0.333333,0.333333
28681,28681,20190111,9,900,9,4,1.527525,1,64.6,-0.230658,1.955700,1.298721,1.289980,-0.597668,-0.253917,1.055076,1.075055,0.218156,0.425819,0.939910,0.978518,0.693648,-1.355633,-1.411075,-0.028597,-1.232779,-0.880981,-0.320144,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,-0.927190,-0.482149,0.333333,0.333333
28682,28682,20190111,9,900,10,6,-0.654654,1,65.1,0.098853,-0.362167,0.487020,0.135211,-1.293584,-1.415909,-1.398589,1.248451,-0.704813,-0.081354,-0.046055,-0.882692,-1.094640,-1.138832,-1.214150,-1.111108,-0.844965,-1.102157,-0.834469,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,-0.867047,-0.837812,0.333333,0.333333

In [182]:
unique = data[["경주일자",	"경주번호"]].drop_duplicates()
unique = unique.reset_index()
unique

      index      경주일자  경주번호
0         0  20230624     1
1        10  20230624     2
2        20  20230624     3
3        30  20230624     4
4        40  20230624     5
...     ...       ...   ...
2863  28634  20190111     5
2864  28643  20190111     6
2865  28653  20190111     7
2866  28663  20190111     8
2867  28673  20190111     9

[2868 rows x 3 columns]

In [183]:
data["key"]=0
for i in range(len(unique)):
    data.loc[(data["경주일자"]==unique["경주일자"][i])&(data["경주번호"]==unique["경주번호"][i]), "key"] = i

In [184]:
data

,Unnamed: 0,경주일자,경주번호,경주거리,착순,출주번호,마필연령,마필성별,경주기록(초),부담중량,기수경력(년),조교사경력(년),조교사통산출전횟수,조교사최근1년간출전횟수,조교사위탁경주마출전횟수,제주4코너통과기록,마체중,체중증감,기수통산1착승률,기수통산2착승률,기수최근1년간1착승률,기수최근1년간2착승률,조교사통산1착승률,조교사통산2착승률,조교사최근1년간1착승률,조교사최근1년간2착승률,조교사위탁경주마1위승률,조교사위탁경주마2위승률,주로상태_함수율,혈통,등급,레이팅,mom_rating,dad_rating,mom_total_in3,dad_total_in3,mom_total,dad_total,dad_post,mom_post,max_post,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),3시간신적설(cm),지면온도(°C),avg_temp,horse_total_post1,horse_total_post2,horse_recent_post1,horse_recent_post2,key
0,0,20230624,1,800,1,1,-1.671258,-1,68.1,-0.256074,-0.457800,1.037848,0.993131,-0.754877,-1.293341,-0.230165,-1.283846,1.607346,0.632445,0.821772,0.477099,1.483899,-0.949783,-0.910064,0.308688,2.093905,-0.077733,0.152808,4,1,0.0,0,0.62,0.28,13.0,22.0,21.0,78.0,0.278107,0.527273,0.527273,27.9,0.0,3,110,56,0.0,46.2,26.275,2.897647,-0.679572,2.897647,-0.679572,0
1,1,20230624,1,800,2,4,0.185695,1,68.5,-0.896258,-1.635000,0.115316,0.219819,-0.009616,0.220449,-0.997380,1.716714,-2.447220,-1.813527,-1.550703,-0.553510,0.046051,0.119013,0.683781,-0.090172,-0.556122,0.120039,-0.574808,4,1,0.0,0,0.60,NaN,18.0,NaN,30.0,NaN,0.000000,0.534247,0.534247,27.9,0.0,3,110,56,0.0,46.2,26.275,-0.446589,1.222662,-0.446589,1.222662,0
2,2,20230624,1,800,3,9,-1.671258,0,68.5,0.384111,-1.242600,-0.691898,-0.684358,-0.923162,-1.419970,0.281312,-0.300056,0.448898,1.217072,0.984041,1.481690,0.975211,2.251169,1.720409,1.395968,0.275789,1.891531,0.304127,4,1,0.0,0,0.83,NaN,5.0,NaN,6.0,NaN,0.000000,0.520000,0.520000,27.9,0.0,3,110,56,0.0,46.2,26.275,-0.128091,-0.679572,-0.128091,-0.679572,0
3,3,20230624,1,800,4,3,0.185695,0,68.6,1.024295,0.327000,-0.576582,-0.479228,1.528988,1.590344,-1.508858,1.224819,1.028122,1.385996,1.559213,1.233122,0.953384,0.458424,1.226856,0.967944,0.392230,0.293418,0.677529,4,1,0.0,0,0.34,0.34,22.0,10.0,65.0,29.0,0.323944,0.328671,0.328671,27.9,0.0,3,110,56,0.0,46.2,26.275,-0.128091,2.100616,-0.128091,2.100616,0
4,4,20230624,1,800,5,8,0.185695,0,69.0,0.384111,-0.327000,0.115316,0.013031,-0.346186,0.254985,0.792790,-0.546004,0.014481,-0.860116,-0.599244,-0.810965,-0.933508,-0.700488,-1.350570,-0.867153,0.333998,-0.980875,1.142443,4,1,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.333456,27.9,0.0,3,110,56,0.0,46.2,26.275,-0.858441,0.087377,-0.858441,0.087377,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28678,28678,20190111,9,900,6,8,-0.654654,1,64.1,0.098853,-1.086500,-0.459964,-0.407759,-0.167838,1.661219,-1.398589,0.381471,0.302063,-0.998704,-1.118542,-0.882692,-1.094640,1.073361,1.406952,0.289028,-0.396696,1.803004,1.318934,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,0.253474,1.609586,0.333333,0.333333,2867
28679,28679,20190111,9,900,7,3,1.527525,1,64.2,1.746409,0.072433,-0.730531,-0.841425,0.876034,0.190796,-0.662489,0.641565,-0.285281,2.442343,2.050307,2.251228,1.785575,0.176693,0.304561,0.961301,0.557588,0.038423,1.444387,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,-0.691631,-1.451202,0.333333,0.333333,2867
28680,28680,20190111,9,900,8,1,-0.654654,1,64.5,-0.889680,1.231367,0.622304,0.419693,-0.802349,0.273283,0.318976,-1.872676,-0.453094,-0.652663,0.070246,-0.882692,-1.094640,-0.311834,-0.343957,0.727968,2.131537,0.486581,-0.726579,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,0.031869,0.036986,0.333333,0.333333,2867
28681,28681,20190111,9,900,9,4,1.527525,1,64.6,-0.230658,1.955700,1.298721,1.289980,-0.597668,-0.253917,1.055076,1.075055,0.218156,0.425819,0.939910,0.978518,0.693648,-1.355633,-1.411075,-0.028597,-1.232779,-0.880981,-0.320144,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,-0.927190,-0.482149,0.333333,0.333333,2867
28682,28682,20190111,9,900,10,6,-0.654654,1,65.1,0.098853,-0.362167,0.487020,0.135211,-1.293584,-1.415909,-1.398589,1.248451,-0.704813,-0.081354,-0.046055,-0.882692,-1.094640,-1.138832,-1.214150,-1.111108,-0.844965,-1.102157,-0.834469,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,-0.867047,-0.837812,0.333333,0.333333,2867

In [185]:
data["경주일자"]<20220701

0        False
1        False
2        False
3        False
4        False
         ...
28678     True
28679     True
28680     True
28681     True
28682     True
Name: 경주일자, Length: 28683, dtype: bool

In [186]:
data800=data[data["경주거리"]==800]
data1000=data[data["경주거리"]==1000]
data1110=data[data["경주거리"]==1110]
data1400=data[data["경주거리"]==1400]
data900=data[data["경주거리"]==900]
data1200=data[data["경주거리"]==1110]
data1700=data[data["경주거리"]==1400]
data1800=data[data["경주거리"]==900]

In [187]:
drop_data = data.drop(["경주일자","Unnamed: 0", "제주4코너통과기록","착순"], axis=1)
drop_data

,경주번호,경주거리,출주번호,마필연령,마필성별,경주기록(초),부담중량,기수경력(년),조교사경력(년),조교사통산출전횟수,조교사최근1년간출전횟수,조교사위탁경주마출전횟수,마체중,체중증감,기수통산1착승률,기수통산2착승률,기수최근1년간1착승률,기수최근1년간2착승률,조교사통산1착승률,조교사통산2착승률,조교사최근1년간1착승률,조교사최근1년간2착승률,조교사위탁경주마1위승률,조교사위탁경주마2위승률,주로상태_함수율,혈통,등급,레이팅,mom_rating,dad_rating,mom_total_in3,dad_total_in3,mom_total,dad_total,dad_post,mom_post,max_post,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),3시간신적설(cm),지면온도(°C),avg_temp,horse_total_post1,horse_total_post2,horse_recent_post1,horse_recent_post2,key
0,1,800,1,-1.671258,-1,68.1,-0.256074,-0.457800,1.037848,0.993131,-0.754877,-1.293341,-1.283846,1.607346,0.632445,0.821772,0.477099,1.483899,-0.949783,-0.910064,0.308688,2.093905,-0.077733,0.152808,4,1,0.0,0,0.62,0.28,13.0,22.0,21.0,78.0,0.278107,0.527273,0.527273,27.9,0.0,3,110,56,0.0,46.2,26.275,2.897647,-0.679572,2.897647,-0.679572,0
1,1,800,4,0.185695,1,68.5,-0.896258,-1.635000,0.115316,0.219819,-0.009616,0.220449,1.716714,-2.447220,-1.813527,-1.550703,-0.553510,0.046051,0.119013,0.683781,-0.090172,-0.556122,0.120039,-0.574808,4,1,0.0,0,0.60,NaN,18.0,NaN,30.0,NaN,0.000000,0.534247,0.534247,27.9,0.0,3,110,56,0.0,46.2,26.275,-0.446589,1.222662,-0.446589,1.222662,0
2,1,800,9,-1.671258,0,68.5,0.384111,-1.242600,-0.691898,-0.684358,-0.923162,-1.419970,-0.300056,0.448898,1.217072,0.984041,1.481690,0.975211,2.251169,1.720409,1.395968,0.275789,1.891531,0.304127,4,1,0.0,0,0.83,NaN,5.0,NaN,6.0,NaN,0.000000,0.520000,0.520000,27.9,0.0,3,110,56,0.0,46.2,26.275,-0.128091,-0.679572,-0.128091,-0.679572,0
3,1,800,3,0.185695,0,68.6,1.024295,0.327000,-0.576582,-0.479228,1.528988,1.590344,1.224819,1.028122,1.385996,1.559213,1.233122,0.953384,0.458424,1.226856,0.967944,0.392230,0.293418,0.677529,4,1,0.0,0,0.34,0.34,22.0,10.0,65.0,29.0,0.323944,0.328671,0.328671,27.9,0.0,3,110,56,0.0,46.2,26.275,-0.128091,2.100616,-0.128091,2.100616,0
4,1,800,8,0.185695,0,69.0,0.384111,-0.327000,0.115316,0.013031,-0.346186,0.254985,-0.546004,0.014481,-0.860116,-0.599244,-0.810965,-0.933508,-0.700488,-1.350570,-0.867153,0.333998,-0.980875,1.142443,4,1,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.333456,27.9,0.0,3,110,56,0.0,46.2,26.275,-0.858441,0.087377,-0.858441,0.087377,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28678,9,900,8,-0.654654,1,64.1,0.098853,-1.086500,-0.459964,-0.407759,-0.167838,1.661219,0.381471,0.302063,-0.998704,-1.118542,-0.882692,-1.094640,1.073361,1.406952,0.289028,-0.396696,1.803004,1.318934,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,0.253474,1.609586,0.333333,0.333333,2867
28679,9,900,3,1.527525,1,64.2,1.746409,0.072433,-0.730531,-0.841425,0.876034,0.190796,0.641565,-0.285281,2.442343,2.050307,2.251228,1.785575,0.176693,0.304561,0.961301,0.557588,0.038423,1.444387,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,-0.691631,-1.451202,0.333333,0.333333,2867
28680,9,900,1,-0.654654,1,64.5,-0.889680,1.231367,0.622304,0.419693,-0.802349,0.273283,-1.872676,-0.453094,-0.652663,0.070246,-0.882692,-1.094640,-0.311834,-0.343957,0.727968,2.131537,0.486581,-0.726579,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,0.031869,0.036986,0.333333,0.333333,2867
28681,9,900,4,1.527525,1,64.6,-0.230658,1.955700,1.298721,1.289980,-0.597668,-0.253917,1.075055,0.218156,0.425819,0.939910,0.978518,0.693648,-1.355633,-1.411075,-0.028597,-1.232779,-0.880981,-0.320144,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,-0.927190,-0.482149,0.333333,0.333333,2867
28682,9,900,6,-0.654654,1,65.1,0.098853,-0.362167,0.487020,0.135211,-1.293584,-1.415909,1.248451,-0.704813,-0.081354,-0.046055,-0.882692,-1.094640,-1.138832,-1.214150,-1.111108,-0.844965,-1.102157,-0.834469,8,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.002883,7.6,0.0,2,270,64,0.0,12.0,7.875,-0.867047,-0.837812,0.333333,0.333333,2867

In [188]:
# drop_data["3등이내"] = drop_data["착순"]
# drop_data["5등이내"] = drop_data["착순"]
# drop_data.loc[drop_data["착순"]>3,"3등이내"]=0
# drop_data.loc[drop_data["착순"]>5,"5등이내"]=0

In [189]:
from xgboost import XGBRegressor
from sklearn.metrics import accuracy_score
X_train = drop_data[data["경주일자"]<20220701].drop(["경주기록(초)", "key"], axis=1)
X_test = drop_data[data["경주일자"]>=20220701].drop(["경주기록(초)", "key"], axis=1) 
y_train = drop_data[data["경주일자"]<20220701]["경주기록(초)"]
y_test = drop_data[data["경주일자"]>=20220701]["경주기록(초)"]

params = {
    'max_depth':5,
    'reg_lambda':1,
    'learning_rate': 0.1,
    'n_estimators': 100
}
xgb_reg = XGBRegressor(params = params)
xgb_reg.fit(X_train, y_train)

# Make predictions on the test set
y_pred = xgb_reg.predict(X_test)

/opt/homebrew/lib/python3.11/site-packages/xgboost/core.py:160: UserWarning: [22:20:09] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:742:
Parameters: { "params" } are not used.

  warnings.warn(smsg, UserWarning)

In [191]:
pred_key = pd.concat([drop_data[data["경주일자"]>=20220701]["key"], pd.DataFrame(y_pred)], axis=1)
pred_key.columns=["key",	"y_pred"]

true_key = pd.concat([drop_data[data["경주일자"]>=20220701]["key"], pd.DataFrame(y_test)], axis=1)
true_key.columns=["key",	"y_test"]

In [216]:
pred_key["in5"] = 0
for i in pred_key["key"].unique():
    index = pred_key[pred_key["key"]==i].sort_values(by="y_pred", ascending=True)[:5].index
    pred_key.loc[index,"in5"]=1

In [217]:
true_key["in3"] = 0
for i in true_key["key"].unique():
    index = true_key[true_key["key"]==i].sort_values(by="y_test", ascending=True)[:3].index
    true_key.loc[index,"in3"]=1

In [219]:
pred_key.head(10)

   key     y_pred  in5
0    0  69.061012    1
1    0  68.038681    1
2    0  69.670776    0
3    0  68.798203    1
4    0  69.122154    1
5    0  69.696228    0
6    0  68.636909    1
7    0  70.839409    0
8    0  69.373276    0
9    0  72.217102    0

In [218]:
true_key.head(10)

   key  y_test  in3
0    0    68.1    1
1    0    68.5    1
2    0    68.5    1
3    0    68.6    0
4    0    69.0    0
5    0    70.2    0
6    0    70.7    0
7    0    70.8    0
8    0    71.1    0
9    0    72.0    0

In [223]:
count = 0
for key in true_key["key"].unique():
    num = sum(true_key.loc[true_key["key"]==key,"in3"]&pred_key.loc[pred_key["key"]==key,"in5"])
    if num==3:
        count+=1

In [225]:
count/len(true_key["key"].unique())

0.2194767441860465